@font-face {
    font-family: 'SocialIcons';
    src:url('../fonts/entypo/entypo.eot');
}
@font-face {
    font-family: 'SocialIcons';
    src: url('../fonts/entypo-social/entypo-social.eot'); /* IE9 Compat Modes */
    src: url('../fonts/entypo-social/entypo-social.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/entypo-social/entypo-social.woff') format('woff'), /* Modern Browsers */
    url('../fonts/entypo-social/entypo-social.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/entypo-social/entypo-social.svg#Entypo') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
.social-media[data-icon]:before {
    font-family: 'SocialIcons';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-style: normal !important;
    font-variant: normal;
    text-transform: none;
    font-size: 28px;
    color: #999;
}
