/* Tablet
   ========================================================================== */

@media only screen and (max-width: $breakpoint-2-max-width) {

// Type Fixes

    h1 {
        font-size: $fs2;
    }

    blockquote, blockquote p {
        font-size: $fs_base;
    }

    footer {
        font-size: $fs5;

        .prev-posts {
            li {

                .recent-title {

                }

                span.date {
                    font-size: $fs6;
                }
            }
        }

        .social {
            right: 10vw;
        }
    }

    footer {
        text-align: center;
        padding-bottom: 4em;

        aside {
            width: 87%;
            margin: 0 auto;
        }

        .recent-posts, .social {
            width: 57%;
            clear: both;
            float: none;
            margin: auto;
        }

        .social {
            overflow: hidden;

            .social-links {
                text-align: left;
            }

            .social-photo img {
                height: 6.5em;
                width: 6.5em;
                margin-top: 5px;
            }
        }

        .prev-posts {
            padding-left: 0;
            float: none;
            margin: 0 auto;
            display: block;
            width: 100%;

            li {
                margin-top: $lh/2;
            }

            .metadata {
                display: block;
            }
        }

        small {
            padding-top: 1em;
            margin-top: -1em;
            border-top: 1px solid $link;
        }

        [data-icon]:before {
            font-size: $fs_base;
        }

        ol {
            list-style: none;
        }
    }
}

/* Mobile
   ========================================================================== */

@media only screen and (max-width: 680px) {

/* All Posts */

    section.article img.loading {
        top: 10px !important;
        right: 6%;
        left: inherit;
    }

    header.site-header {
        height: auto;
        min-height: 39x;  // actual rendered value; set for old Android browser
        padding: 10px 0;

        hgroup {
            padding-left: 3vw;
        }

        a.menu {
            display: block;
            float: right;
            margin-right: 3%;
            width: 1em;
            height: 1em;
            color: white;
            .icons {
                font-size: 48px;
                line-height: 24px;
            }

            img {
                width: 24px;
                height: auto;
            }
        }

        nav {
            display: none;
            float: none;
            width: 100%;
            padding-right: 0;

            :before {
                display: table;
                clear: both;
                content: '';
            }

            ul {
                padding: 20px 0 10px 0;
                margin-top: 15px;

                li {
                    display: block;
                    margin-left: 0;
                    top: 0px;
                    font-size: $fs5;

                    a {
                        display: block;
                        text-align: right;
                        font-weight: bold;
                        padding: 15px 0px;
                        padding-right: 3vw;
                        position: relative;
                        width: 100%;
                        color: $white;
                        &:active {
                            background-color: $link;
                            color: white;
                        }
                        &:hover {
                            text-shadow: none;
                        }
                    }
                }
            }
        }
    }

    .archive-wrap {
        padding-top: $fs1;

        .post-list {
            width: auto;
            margin-left: 1em;
            margin-right: 1em;

            h1 {
                font-size: $fs3;
            }

            lh h2 {
                font-size: $fs4;
                text-align: center;
            }

            > li {
                text-align: center;
            }
        }
    }

    .post ul.metadata {
        text-align: center;

        li, .date {
            line-height: 1;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    .post header.post-header {
        margin-top: $fs4;
        margin-bottom: 0;

        hgroup {
            ul.metadata {
                @include metadata();
            }
        }
    }

    footer {
        padding-bottom: 2em;

        .social, .recent-posts {
            width: 87%;
        }

        small {
            width: 87%;
        }
    }
}

@media only screen and (max-width: $breakpoint-1-max-width) {
    .post {
        width: auto;
        padding-left: 1em;
        padding-right: 1em;
        max-width: 420px;
        display: block;
        margin: 0 auto;
        float: none;

        p, iframe {
            padding-bottom: 1em;
            margin-bottom: 0;
        }

        header.post-header {
            margin-top: $fs6;
            hgroup {
                h1 {
                    margin-bottom: 1rem;
                    font-size: $fs2;
                }
            }
        }

        h1 {
            font-size: $fs3;
        }

        ul li, ol li {
            font-size: $fs5;
            line-height: $lhsmall;
            margin-bottom: $lhsmall/2;
        }

        .footnotes {
            &:before {
                width: 100%;
                margin-bottom: $fs5;
            }
        }

        .share {
            font-size: $fs6;

            a {
                margin-top: 0.25em;
                &[data-icon]:before {
                    font-size: 28px;
                }
            }
        }
    }

    blockquote, blockquote p {
        font-size: $fs5;
    }

    footer {
        font-size: $fs5;
    }

    small {
        font-size: $fs6;
    }

    .article header {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 680px) {
    .article .featured-image {
        max-height: 400px;
        height: 400px;
    }
}

@media only screen and (min-height: 1000px) {
    .article .featured-image {
        max-height: 640px;
        height: 640px;
    }
}

