<meta charset="utf-8">
<title>{% unless page.url == '/' %}{% if page.title %}{{ page.title }} &#8211; {% endif %}{% endunless %}{{ site.title }}</title>
{% if page.description %}
<meta name="description" content="{{ page.description }}">
{% else %}
<meta name="description" content="{{ site.description }}">
{% endif %}
<meta name="keywords" content="{{ page.tags | join: ', ' }}">

<meta property="og:locale" content="en_US">
<meta property="og:title" content="{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}">
{% if page.description %}
<meta property="og:description" content="{{ page.description | strip_html | strip_newlines | truncate: 170 }}">
{% elsif page.intro %}
<meta property="og:description" content="{{ page.intro | strip_html | strip_newlines | truncate: 170 }}">
{% elsif site.description %}
<meta property="og:description" content="{{ site.description | strip_html | strip_newlines | truncate: 170 }}">
{% endif %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">


<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/i.css">

<!-- Fresh Squeezed jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<meta http-equiv="cleartype" content="on">

<!--[if lt IE 9]>
<script src="{{ site.url }}assets/js/html5shiv.js"></script>
<![endif]-->

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.png">
