<meta charset="utf-8">

{% assign title={{site.title}} %}
{% if page.url != '/' %}
    {% assign title={{page.title | append:' &#8211; ' | append:title }} %}
{% endif %}

{% if page.description %}
    {% assign description={{page.description}} %}
{% elsif page.intro %}
    {% assign description={{page.intro}} %}
{% else %}
    {% assign description={{site.description}} %}
{% endif %}

{% if page.keywords.size > 0 %}
    {% assign keywords={{page.keywords}} %}
{% elsif page.tags.size > 0  %}
    {% assign keywords={{page.tags}} %}
{% else %}
    {% assign keywords={{site.keywords}} %}
{% endif %}

{% if page.image.feature %}
    {% assign image={{page.image.feature}} %}
{% else %}
    {% assign image={{site.files | append:'/layout/squareface.jpg' }} %}
{% endif %}

<!-- HTML head -->
<title>{{title}}</title>
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ keywords | join: ', ' }}">
<!-- Facebook Open Graph -->
<meta property="og:locale" content="en_US">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{ description }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:image" content="{{ image }}">
<!-- Twitter Card -->
<meta name="twitter:card" content="summary"> 
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:site" content="{{ site.owner.twitter }}">
<meta name="twitter:owner" content="{{ site.owner.twitter }}">
<meta name="twitter:image" content="{{ image }}">

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">

<!-- Fresh Squeezed jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<meta http-equiv="cleartype" content="on">

<!--[if lt IE 9]>
<link rel="stylesheet" href="{{ site.url }}/assets/css/ie.css">
<script src="{{ site.url }}/assets/js/html5shiv.js"></script>
<![endif]-->

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.png">

{% if site.gosquared %}
<script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');
  
  _gs(site.gosquared);
</script>
{% endif %}
