<header class="site-header">
    <div class="wrap">
        <hgroup>
            <h1><a href="/">{{ site.title }}</a></h1>
        </hgroup>
        <a href="#nav" class="menu"><span class='icons'>☰</span></a>
        <nav role="navigation">
            <ul>
                {% for link in site.links %}
                    <li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
