{% if post == null %}
    {% assign post = page %}
{% endif %}

<ul class="metadata">
    {% if !post.date %}
        <li><span aria-hidden="true" data-icon="&#128197;"></span>
            <span class="screen-reader-text">Date</span>
            <span class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span>
        </li>
    {% endif %}
    {% if post.categories.size > 0 %}
        <li><span aria-hidden="true" data-icon="&#59392;"></span>
            <span class="screen-reader-text">Categories</span>
            <ul>
                {% for category in post.categories %}
                    <li class="category">
                        {% if forloop.first == false %}, {% endif %}
                        <a href="{{ site.url }}{{ category }}/">{{ category }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
    {% if post.tags.size > 0 %}
        <li><span aria-hidden="true" data-icon="&#128278;"></span>
            <span class="screen-reader-text">Tags</span>
            <ul>
                {% for tag in post.tags %}
                    <li class="tag">
                        {% if forloop.first == false %}, {% endif %}
                        {{ tag }}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
</ul>
