{% if post == null %}
    {% assign post = page %}
{% endif %}

{% unless meta_links == false %}{% assign meta_links = true %}{% endunless %}

{% if post.date ||  post.categories.size > 0 ||  post.tags.size > 0 %}
<ul class="metadata">
    {% if !post.date %}
        <li><i class="fa fa-calendar"></i>
            <span class="screen-reader-text">Date</span>
            {% if meta_links %}<a class="date" href="{{ site.url }}/archives/#{{ post.date | date: site.archive.month_format }}">{% endif %}
                <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>
            {% if meta_links %}</a>{% endif %}
        </li>
    {% endif %}
    {% if post.categories.size > 0 %}
        <li><i class="fa fa-folder-open"></i>
            <span class="screen-reader-text">Categories</span>
            <ul>
                {% for category in post.categories %}
                    <li class="category">
                        {% unless forloop.first %}·{% endunless %}
                        {% if meta_links %}<a href="{{ site.url }}/{{ category }}/">{% endif %}{{ category }}{% if meta_links %}</a>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
    {% if post.tags.size > 0 %}
        <li><i class="fa fa-tag{% if post.tags.size > 1 %}s{% endif %}"></i>
            <span class="screen-reader-text">Tags</span>
            <ul>
                {% for tag in post.tags %}
                    <li class="tag">
                        {% if meta_links %}<a href="{{ site.url }}/tags/{{ tag }}/">{% endif %}{{ tag }}{% if meta_links %}</a>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
</ul>
{% endif %}

{% assign meta_links = true %}
