<div class="share">
    {% if post.buy.amazon %}
    <a class="amazon" target="_blank" href="http://www.amazon.com/dp/{{post.buy.amazon}}/?tag={{site.owner.amazon}}" data-icon="&#59197;">Buy</a>
    {% endif %}
    <a class="social-media twitter" onclick="window.open('https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}&via={{site.owner.twitter}}&text=%22{{page.title}}%22','twitter', 'width=520,height=440')" data-icon="&#62217;">Tweet</a>
    <a class="social-media facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}&display=popup', 'facebook', 'width=400,height=500')" data-icon="&#62222;">Share</a>
    <a class="email" href='mailto:?subject=Sharing "{{page.title}}"&body=I found this article from {{site.title}} that I wanted to share with you:%0D%0A%0D%0A[{{page.title}}]({{site.url}}{{page.url}})%0D%0A%0D%0AFeel free to pass it along!' data-icon="&#9993;">Email</a>
    {% if site.owner.github.user && site.owner.github.repo %}
    <a class="social-media github" href="https://github.com/{{site.owner.github.user}}/{{site.owner.github.repo}}/edit/gh-pages/{{page.path}}" target="_blank" data-icon="&#62208;">Edit</a>
    {% endif %}
</div>

