<!doctype html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
    {% include header.html %}
    {% assign post_list = site.posts %}

    <section class="article archive">
      <article class="archive-wrap">
          <h1>{{ page.title }}</h1>
          {% for category in site.categories %}
          {% assign category_name = category[0] %}
          <ol class="post-list">
             <lh><h2><span id="{{ category[0] }}" class="bb">{{ category_name | capitalize }}</span></h2></lh>
              {% assign post_list = category[1] %}
              {% for post in post_list %}
              <li>
                  {% include post-entry.html %}
              </li>
              {% endfor %}
              <a href="#top">Go to top</a>
          </ol>
          {% endfor %}
      </article>
    </section>

    {% include footer.html %}

</body>
</html>
