---
layout: default
---

{% if page.index.category %}
    {% assign post_list = site.categories[page.index.category] %}
    {% assign data_icon = "&#59392;" %}
    {% assign screader = "Category" %}
{% elsif page.index.tag %}
    {% assign post_list = site.tags[page.index.tag] %}
    {% assign data_icon = "&#128278;" %}
    {% assign screader = "Tag" %}
{% else %}
    {% assign post_list = site.posts %}
    {% assign data_icon = "&#128197;" %}
    {% assign screader = "Date" %}
{% endif %}

<section class="article archive">
    <article class="archive-wrap">
        <ol class="post-list">
            <lh><h2>
                <span aria-hidden="true" data-icon="{{ data_icon }}"></span>
                <span class="screen-reader-text">{{ screader }}</span>
                <span id="{{ page.title }}"class="bb">{{ page.title }}</span>
            </h2></lh>
            {% for post in post_list %}
            <li>{% include post-entry.html %}</li>
            {% endfor %}
        </ol>
    </article>
</section>